.auth-button__item {
  color: $brand-10;
  background-color: $accent-1;
  display: flex;
  align-items: center;
  border-radius: 25px;
  text-transform: uppercase;
  justify-content: center;
  padding: 10px 10px 7px;
  font-size: 17px;
  line-height: 1.76;
  font-weight: 700;
}
