.contact-list {
  display: flex;
  flex-wrap: wrap;
}

.contact-list__item {
  max-width: 40px;
  min-height: 40px;
}

.contact-list__link {
  border: none;
  background-color: $accent-2;
  border-radius: 50%;
  display: flex;
  flex-shrink: 0;
  font-size: 0;
  width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/icons/topmenu-mail.svg");
  background-size: 18px 14px;
}

.contact-list__link--telephone {
  background-color: $accent-3;
  background-image: url("../img/icons/topmenu-phone.svg");
  background-size: 18px 18px;
}

.contact-list__detail {
  font-weight: 700;

  margin-left: 16px;

  color: $brand-4;
}

@media (min-width: 768px) {
  .contact-list__link::before {
    width: 68px;
    height: 68px;

    background-size: 27px 27px;
  }
}


@media (min-width: 1440px) {
  .contact-list__item {
    display: inline-block;

    max-width: 50px;
  }

  .contact-list__detail,
  .contact-list__link {
    font-size: 0;
    line-height: 0;

    margin-left: 0;
  }

  .contact-list__link::before {
    width: 50px;
    height: 50px;
    padding: 25px;

    background-size: 18px 18px;
    background-color: $accent-2;
  }
}
