.inner-page .footer {
  margin-top: 0;
}

.inner-page__header {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.inner-page__wrapper {
  padding-top: 28px;
}

.inner-page__header .header__title {
  padding-bottom: 12px;
}

.inner-page__header .page-navigation {
  padding-top: 9px;
  padding-bottom: 14px;
}

@media (min-width: 768px) {
  .inner-page .footer {
    margin-top: 0;
  }
}
