.top-contacts__list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 40px;
}

.top-contacts__item {
  padding: 0;
}

.top-contacts__link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.38;
  font-weight: 700;
  color: $brand-4;
  text-transform: uppercase;
  position: relative;
}

.top-contacts__link::before {
  content: "";
  width: 45px;
  height: 45px;
  background-color: $brand-12;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.top-contacts__link--tel::before {
  background-image: url("../img/icons/contacts-phone.svg");
}

.top-contacts__link--email::before {
  background-image: url("../img/icons/contacts-mail.svg");
}

.top-contacts__text {
  padding-left: 15px;
}
