.add-plan {
  background-color: $brand-17;
  padding-top: 28px;
  padding-bottom: 62px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-top: -15px;
}

.add-plan__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}

.add-plan__title {
  margin: 0;
  color: $brand-1;
}
