.contacts {
  position: relative;
  z-index: 2;

  padding-top: 33px;
  padding-bottom: 35px;

  color: $brand-4;
  border-radius: 0 0 30px 30px;
  background-color: $accent-1;
}

.contacts__contact-list {
  margin-bottom: 35px;
}

.contacts .contact-list__link::before {
  width: 45px;
  height: 45px;

  background-size: 14px 22px;
}

.contacts .contact-list__detail {
  max-width: 145px;
}

.contacts__button {
  display: block;

  padding: 18px 20px 21px;

  text-align: left;
  text-transform: none;

  border: 3px solid $brand-4;
  border-radius: 10px;
}

.contacts__contact-list .contacts-list__text {
  max-width: 160px;
}

@media (min-width: 768px) {
  .contacts {
    padding-top: 32px;
    padding-bottom: 88px;

    border-radius: 0 0 60px 60px;
  }

  .contacts .container {
    padding: 0 75px;
  }

  .contacts .contact-list__link::before {
    width: 68px;
    height: 68px;

    background-size: 21px 32px;
  }

  .contacts .contact-list__detail {
    font-size: 28px;
    line-height: 28px;

    max-width: 100%;
    margin-left: 22px;
  }

  .contacts__contact-list {
    margin-bottom: 42px;
  }

  .contacts__button {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;

    display: flex;

    padding: 25px 120px 26px 33px;

    border-radius: 20px;
  }

  .contacts__button::after {
    right: 26px;
  }
}

@media (min-width: 1440px) {
  .contacts {
    padding-top: 54px;
    padding-bottom: 58px;
  }

  .contacts .container {
    display: flex;

    padding: 0 138px;

    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .contacts__contact-list {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    margin-right: 0;
  }

  .contacts .contact-list__item {
    width: 100%;
    max-width: 100%;
  }

  .contacts .contact-list__detail {
    width: 100%;
    max-width: 430px;
    margin-right: 10px;
    margin-left: 30px;
  }

  .contacts__button {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;

    width: 100%;
    max-width: 324px;
    margin: 0 auto;
    margin-right: 0;
    padding: 25px 55px 26px 33px;
  }

  .contacts .contact-list__link::before {
    width: 90px;
    height: 90px;

    background-color: $brand-12;
    background-size: 28px 43px;
  }
}
