.contacts {
  border-radius: 0 0 30px 30px;
  background-color: #ffd74b;
  color: #192144;
  padding-top: 15px;
  padding-bottom: 35px;
  position: relative;
  z-index: 2;
}

.contacts__contact-list {
  margin-bottom: 35px;
}

.contacts .contact-list__link::before {
  background-size: 14px 22px;
  width: 45px;
  height: 45px;
}

.contacts .contact-list__detail {
  max-width: 145px;
}

.contacts__button {
  text-transform: none;
  border-radius: 10px;
  border: 3px solid #192144;
  padding: 18px 20px 21px;
  display: block;
  text-align: left;
}

@media (min-width: 768px) {
  .contacts {
    padding-top: 32px;
    padding-bottom: 88px;
    border-radius: 0 0 60px 60px;
  }

  .contacts .container {
    padding: 0px 75px;
  }

  .contacts .contact-list__link::before {
    background-size: 21px 32px;
    width: 68px;
    height: 68px;
  }

  .contacts .contact-list__detail {
    max-width: 100%;
    font-size: 28px;
    line-height: 28px;
    margin-left: 22px;
  }

  .contacts__contact-list {
    margin-bottom: 42px;
  }

  .contacts__button {
    border-radius: 20px;
    padding: 25px 120px 26px 33px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    display: flex;
  }

  .contacts__button::after {
    right: 26px;
  }

}

@media (min-width: 1440px) {
  .contacts {
    padding-top: 54px;
    padding-bottom: 58px;
  }

  .contacts .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 138px;
  }

  .contacts__contact-list {
    margin: 0 auto;
margin-right: 0;
    max-width: 560px;
    width: 100%;
  }

  .contacts .contact-list__item {
    max-width: 100%;
    width: 100%;
  }

  .contacts .contact-list__detail {
    max-width: 430px;
    width: 100%;
    margin-left: 30px;
    margin-right: 10px;
  }

  .contacts__button {
    max-width: 324px;
    width: 100%;
    margin: 0 auto;
    margin-right: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    padding: 25px 55px 26px 33px
  }

  .contacts .contact-list__link::before {
    width: 90px;
    height: 90px;
    background-color: #121936;
    background-size: 28px 43px;
  }

}
