.directions {
  padding-top: 67px;
  padding-bottom: 27px;
  border-radius: 0 0 30px 30px;
  background-color: #edeff6;
  color: #444444;
  position: relative;
  border-radius: 0 0 30px 30px;
}

.directions::before {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 95px;
  content: "";
  background-color: #192144;
  z-index: -1;

}

.directions__header {
  padding: 0px 25px;
}

.directions__title {
  margin-bottom: 20px;
}

.directions__description {
  margin-bottom: 63px;
  max-width: 100%;
  padding-right: 25px;
}

.directions__list {
  margin-bottom: 25px;
}

.directions__link {
  max-width: 270px;
  padding: 24px;
  padding-right: 135px;
  border-radius: 10px;
  text-transform: none;
}

@media (min-width: 768px) {
  .directions {
    padding-top: 70px;
    padding-bottom: 80px;
    border-radius: 0 0 60px 60px;
  }

  .directions__header {
    max-width: 415px;
    padding: 0px 35px;
    position: relative;
    z-index: 2;
  }

  .directions__header::before {
    content: "";
    background-image: url("../img/backgrounds/flags-back@1x.png");
    display: block;
    width: 289px;
    height: 575px;
    position: absolute;
    top: 10px;
    right: -272px;
    z-index: -1;
  }

  .directions__title {
    margin-bottom: 56px;
  }

  .directions__link {
    max-width: 618px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: none;
    padding: 31px 34px;
    border-radius: 20px;
    position: relative;
    z-index: 2;
  }

  .directions__list {
    position: relative;
    margin: 0 auto;
    margin-bottom: 38px;
    z-index: 2;
  }

  .directions__list::before {
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    left: -30px;
    width: 141px;
    height: 141px;
    border-radius: 20px;
    background-color: #e2e5f2;
  }

  .directions-list__item {
    margin: 0;
    margin-bottom: 10px;
  }

  .directions__description {
    margin-bottom: 110px;
    padding-right: 0;
  }

  .directions__link::after {
    right: 27px;
  }

}

@media (min-width: 1440px) {
  .directions {
    padding-top: 162px;
    padding-bottom: 135px;
  }

  .directions .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .directions__header {
    max-width: 519px;
    padding: 0;
    margin: 0 auto;
    margin-left: 171px;
    margin-top: -75px;
  }

  .directions__header::before {
    top: -75px;
    right: -175px;
  }

  .directions__list {
    margin: 0;
    margin-left: 70px;
    max-width: 560px;
    width: 100%;
    order: -1;
  }

  .directions__link {
    max-width: 274px;
    width: 100%;
    margin-right: 243px;
    margin-top: -90px;
  }

  .directions__list::before {
    top: -70px;
    left: -70px;
  }

  .directions-list__item-description {
    padding-top: 20px;
    padding-bottom: 10px;
  }

  .directions__title {
    margin-bottom: 60px;
    max-width: 337px;
  }

  .directions__description {
    max-width: 340px;
  }

  .directions-list__details-wrapper {
    max-width: 340px;
  }

  .directions-list__flag {
    top: 22px;
  }

}
