.directions {
  padding-top: 72px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;
  background-color: #edeff6;
  color: #444444;
  position: relative;
}

.directions__header {
  padding: 0px 25px;
}

.directions__title {
  margin-bottom: 17px;
}

.directions__description {
  margin-bottom: 63px;
  max-width: 100%;
}

.directions__list {
  margin-bottom: 10px;
}

.directions__link {
  max-width: 270px;
  padding: 24px;
  padding-right: 135px;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .directions {
    padding-top: 74px;
    padding-bottom: 80px;
  }

  .directions__header {
    max-width: 400px;
  }

  .directions__title {
    margin-bottom: 56px;
  }

  .directions__link {
    max-width: 618px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: none;
    padding: 31px 34px;
  }

  .directions__list {
    margin-bottom: 47px;
    position: relative;
  }

  .directions__list::before {
    content: "";
    display: block;
    position: absolute;
    top: -40px;
    left: -10px;
    width: 141px;
    height: 141px;
    border-radius: 20px;
    background-color: #e2e5f2;
  }

  .directions__description {
    margin-bottom: 110px;
  }

}
