.footer {
  border-radius: 30px 30px 0 0;
  background-color: #ffffff;
  color: #444444;
  padding-top: 38px;
  padding-bottom: 14px;
  margin-top: -227px;
  z-index: 4;
  position: relative;
}

/* стили для страницы Попутчики  */
.inner-page .footer {
  margin-top: 0;
}

.footer__logo-link {
  margin: 0 auto;
  margin-bottom: 35px;
  display: block;
  max-width: 96px;
}

.footer__social-list {
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 36px;
  max-width: 135px;
  padding: 0;
}

.footer .social-list__link::before {
  background-color: #ffd74b;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .footer {
    margin-top: -35px;
    border-radius: 60px 60px 0 0;
    padding-top: 48px;
    padding-bottom: 55px;
    overflow: hidden;
  }

  .footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer__logo-link {
    max-width: 164px;
    margin: 0;
  }

  .footer__social-list {
    margin-bottom: 0;
    max-width: 180px;
    margin-left: 90px;
  }

  .footer .social-list__link::before {
    width: 60px;
    height: 60px;
  }

  .footer__copyright {
    max-width: 190px;
  }

}

@media (min-width: 1440px) {
  .footer__logo-link {
    max-width: 200px;
  }

  .footer__social-list {
    margin-left: 371px;
  }

}
