.geographic-filter {
  position: relative;

  padding-top: 14px;
  padding-bottom: 17px;

  border-radius: 0 0 20px 20px;
  background-color: #e2e5f2;
}

.geographic-filter::after {
  position: absolute;
  position: absolute;
  z-index: -1;
  top: -30px;

  width: 100%;
  height: 60px;

  content: '';

  background-color: #e2e5f2;
}

.geographic-filter__header {
  display: flex;

  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.geographic-filter__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;

  position: relative;

  display: flex;

  max-width: 100%;
  padding-left: 27px;

  text-transform: uppercase;

  color: #192144;

  align-items: center;
}

.geographic-filter__title::before {
  position: absolute;
  left: 0;

  width: 15px;
  height: 10px;

  content: '';

  background-image: url('../img/icons/filter.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 10px;
}

.geographic-filter__button {
  font-size: 0;
  font-weight: 0;
  line-height: 0;

  position: relative;

  display: flex;

  width: 23px;
  max-width: 23px;
  height: 23px;
  padding: 0;

  color: #192144;
  border: none;
  background-color: transparent;

  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.geographic-filter__button::after {
  position: absolute;

  width: 17px;
  height: 3px;

  content: '';

  background-image: url('../img/icons/dots.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 17px 3px;
}

.geographic-filter__wrapper {
  margin: 0;
}

.geographic-filter__list {
  display: none;
}

.geographic-filter__countries {
  display: none;

  max-width: 220px;
}

.geographic-filter__button-closed {
  display: none;

  max-width: 270px;
}

.geographic-filter__footer {
  width: 100%;
  max-width: 320px;
}

/* фильтра развёрнут  */
.geographic-filter--open {
  padding-bottom: 27px;
}

.geographic-filter--open .geographic-filter__list {
  display: flex;

  margin-bottom: 15px;
  margin-left: 27px;
}

.geographic-filter--open .geographic-filter__countries {
  display: block;
}

.geographic-filter--open .geographic-filter__wrapper {
  display: block;

  margin-top: 0;
}

.geographic-filter--open .country-filter__alphabet {
  margin-left: 25px;
}

.geographic-filter--open .country-filter__list {
  margin-left: 25px;
}

.geographic-filter--open .geographic-filter__button-closed {
  display: flex;
}

.geographic-filter--open .geographic-filter__button-label {
  display: none;
}

.geographic-filter--open .geographic-filter__button-label--close {
  display: block;
}

.geographic-filter--open .geographic-filter__button::after {
  right: -18px;

  width: 18px;
  height: 18px;

  background-image: url('../img/icons/filter-close-blue.svg');
  background-size: 18px 18px;
}

.geographic-filter--open .geographic-filter__wrapper {
  display: flex;

  margin-top: 0;

  flex-wrap: wrap;
}

.geographic-filter--open .geographic-filter__list {
  margin-top: 31px;
  margin-left: 25px;
}

.geographic-filter--open .geographic-filter__button::after {
  width: 12px;
  height: 12px;

  background-size: 12px 12px;
}


@media (min-width: 768px) {
  .geographic-filter {
    padding-top: 57px;
    padding-bottom: 30px;

    border-radius: 0 0 60px 60px;
  }

  .geographic-filter .container {
    display: flex;

    padding: 0 73px;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .geographic-filter__wrapper {
    display: flex;

    width: 100%;
    max-width: 100%;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .geographic-filter__list {
    display: flex;
    flex-direction: row;

    max-width: 365px;
    margin-bottom: 0;
    margin-left: 0;

    order: 0;
  }

  .region-filter__item {
    max-width: 25%;
    margin-right: 27px;
    margin-bottom: 0;
  }

  .region-filter__item:nth-child(4) {
    margin-right: 0;
  }

  .geographic-filter__title {
    display: none;
  }

  .geographic-filter__header {
    width: 100%;
    max-width: 180px;
    margin: 0;
    padding: 0;

    order: 2;
  }

  .geographic-filter__button {
    font-family: $font-family_base;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    width: 100%;
    max-width: 156px;
    height: auto;
    margin-right: 27px;
    padding-right: 20px;

    text-transform: uppercase;

    background-image: none;

    justify-content: space-between;
  }

  .geographic-filter__button::after {
    right: -27px;

    display: block;

    width: 27px;
    height: 20px;

    background-size: 27px 5px;
  }

  .region-filter__link {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    text-transform: uppercase;
  }

  .geographic-filter__button-label--close {
    display: none;
  }

  .geographic-filter__footer {
    width: 100%;
    max-width: 100%;
    margin-top: 28px;

    order: 3;
  }

  .geographic-filter__countries {
    display: flex;

    width: 100%;
    max-width: 100%;
    margin-left: 0;

    flex-wrap: wrap;
  }

  .country-filter__alphabet {
    max-width: 345px;
    margin-right: 63px;
    margin-bottom: 40px;
    margin-left: 0;

    border: none;
    background-color: transparent;
  }

  .alphabet-table__cell {
    padding: 0;

    border: none;
  }

  .country-filter__list {
    max-width: 155px;
  }

  .alphabet-table__link {
    font-size: 60px;
    font-weight: 700;
    line-height: 100%;

    display: block;

    width: 50px;
    height: 56px;
    margin: 0 auto;
    margin-right: 28px;
    margin-bottom: 28px;
    padding: 0;

    text-transform: uppercase;

    opacity: .2;
    color: #192144;
  }

  .alphabet-table__link:nth-child(5) {
    margin-right: 0;
  }

  .alphabet-table__cell--active {
    border: none;
    background-color: transparent;
  }

  .alphabet-table__cell--active .alphabet-table__link {
    opacity: 1;
    color: #192144;
  }

  .countries-list__link {
    font-family: $font-family_base;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;

    color: #444;
  }

  .geographic-filter__button-closed {
    max-width: 618px;
    padding: 40px;
  }

  .button-icon__decorate {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;

    padding-left: 43px;
  }

  .button-icon__decorate::before {
    left: 3px;

    width: 18px;
    height: 18px;

    background-image: url('../img/icons/filter-close-blue.svg');
  }

  .geographic-filter--open {
    padding-bottom: 73px;
  }

  .geographic-filter__countries {
    display: none;
  }

  .geographic-filter--open {
    padding-bottom: 73px;
  }

  .geographic-filter--open .geographic-filter__list {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
  }

  .geographic-filter--open .geographic-filter__countries {
    display: flex;
    flex-direction: row;

    margin-left: 0;

    flex-wrap: wrap;
  }

  .geographic-filter--open .geographic-filter__footer {
    margin-top: 57px;
  }

  .geographic-filter--open .country-filter__alphabet {
    margin-left: 0;
  }

  .geographic-filter--open .country-filter__alphabet {
    margin-right: 30px;
  }
}

@media (min-width: 1440px) {

  .geographic-filter--open,
  .geographic-filter::after {
    background-color: #edeff6;
  }

  .geographic-filter__wrapper {
    position: relative;
  }

  .geographic-filter__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

    position: absolute;
    left: 9px;

    display: flex;

    max-width: 300px;
    margin-left: 0;
    padding-left: 42px;

    text-transform: uppercase;
  }

  .geographic-filter__title::before {
    width: 23px;
    height: 15px;

    background-size: 23px 15px;
  }

  .geographic-filter .geographic-filter__list {
    margin-left: 335px;
  }

  .geographic-filter__header {
    max-width: 227px;
  }

  .geographic-filter__button::after {
    right: -23px;
  }

  .country-filter__alphabet {
    display: none;
  }

  .country-filter__list {
    display: flex;

    width: 100%;
    max-width: 100%;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .country-filter__item {
    width: 100%;
    max-width: 20%;
    margin-bottom: 66px;
  }

  .country-filter__item:nth-child(5) {
    margin-right: 0;
  }

  .country-filter__letter {
    font-family: $font-family_base;
    font-size: 60px;
    font-weight: 700;
    line-height: 24px;

    display: block;

    max-width: 35px;
    margin-bottom: 48px;

    text-transform: uppercase;

    color: #192144;
  }

  .country-filter__sub-list {
    display: block;

    max-width: 100%;
  }

  .geographic-filter--open .geographic-filter__footer {
    margin-top: 90px;
  }

  .geographic-filter--open .country-filter__list {
    margin-left: 0;
    padding: 0 22px;
  }

  .geographic-filter__button-closed {
    width: 100%;
    max-width: 100%;
    padding: 38px;
  }

  .country-filter__list {
    margin-bottom: 21px;
  }
}
