.planning {
  background-color: $brand-11;
  padding: 28px 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.planning__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #1d2e5b;
  margin: 0;
  margin-bottom: 26px;
}

.planing .action-list {
  margin-bottom: 18px;
}
