.preferences-filter {
  padding-top: 22px;
  padding-bottom: 40px;
}

.preferences__wrapper {
  border-radius: 20px;
  background-color: #ffd74b;
  max-width: 270px;
  margin: 0 auto;
  padding: 24px 26px 22px;
}

.preferences-filter__wrapper {
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 13px;
  margin-bottom: 13px;
}

.preferences-filter__label {
  display: none;
}

.preferences-filter .title {
  max-width: 100%;
  width: 100%;
  color: #1d2e5b;
  margin: 0;
  padding: 0;
  font-family: $font-family_base;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 70px;
}

.preferences-filter .preferences-filter__title {
  text-transform: none;
  padding-right: 70px;
  font-size: 22px;
  font-weight: 700;
  line-height: 22.49px;
  padding-bottom: 21px;
  position: relative;
  padding-bottom: 21px;
  margin-bottom: 13px;
}

.preferences-filter__wrapper::after,
.preferences-filter__title::after {
  content: "";
  height: 1px;
  width: 100%;
  display: block;
  background-color: #f3c72b;
  position: absolute;
  bottom: 0;
  left: 0;
}

.preferences-group__button {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
  color: #1d2e5b;
  margin: 0;
  padding: 0;
  font-family: $font-family_base;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  padding-right: 70px;
}

.preferences-group__button::after {
  content: "";
  position: absolute;
  right: 0;
  width: 8px;
  height: 4px;
  border: 4px solid transparent;
  border-top-color: #1d2e5b;
  top: 8px;
}

.preferences-group__list,
.preferences-group__level {
  display: none;
  margin: 0;
  margin-top: 17px;
}

.preferences-group__label {
  display: flex;
  padding-left: 27px;
  position: relative;
  min-height: 18px;
  font-size: 15px;
  font-weight: 400;
  line-height: 1;
  color: #444;
  cursor: pointer;
  margin-bottom: 17px;
}

.preferences-group__label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #fff;
}

.preferences-group__label::after {
  display: none;
  content: "";
  position: absolute;
  top: 1px;
  left: 5px;
  width: 9px;
  height: 9px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../img/icons/tick.svg");
}

/* чекбокс активен  */
.preferences-group input[type=checkbox]:checked+label::after {
  display: block;
}

/* обводка активного декоративного чекбокса для лучшей доступности  */
.preferences-group input:focus+.preferences-group__label::before {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}

/* Опция активна (развёрнута)  */
.preferences-group--active .preferences-group__button::after {
  border: 4px solid transparent;
  border-bottom-color: #1d2e5b;
  top: 4px;
}

.preferences-group--active .preferences-group__list,
.preferences-group--active .preferences-group__level {
  display: block;
}

.preferences-filter__button {
  max-width: 230px;
  border-radius: 20px;
  background-color: #ffffff;
  color: #161c35;
  font-family: $font-family_base;
  font-size: 17px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  padding: 13px 70px;
  border: none;
}

@media (min-width: 768px) {
  .preferences__wrapper {
    max-width: 688px;
    padding: 35px 35px 38px;
  }

  .preferences-filter {
    padding-top: 43px;
  }

  .preferences-filter .preferences-filter__title {
    max-width: 540px;
    font-size: 30px;
    line-height: 30px;
    padding-right: 0;
    padding-bottom: 37px;
    margin-bottom: 38px;
  }

  .preferences-group__button {
    display: none;
  }

  .preferences-filter__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-bottom: 35px;
  }

  .preferences-filter__label {
    max-width: 100px;
    display: flex;
    height: 16px;
    color: #1d2e5b;
    font-size: 20px;
    font-weight: 500;
    line-height: 100%;
    text-transform: uppercase;
    max-width: 125px;
    width: 100%;
    margin-right: 10px;
  }

  .preferences-filter__wrapper::after {
    display: none;
  }

  .preferences-group--active .preferences-group__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 480px;
    width: 100%;
  }

  .preferences-group__list,
  .preferences-group__label {
    margin: 0;
  }

  .preferences-group__item {
    max-width: 150px;
    width: 100%;
  }

  .preferences-group__label {
    min-height: auto;
    max-width: 100%;
    color: #444444;
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
  }

  .preferences-group__label::before {
    top: auto;
  }

  .preferences-group__label::before {
    width: 24px;
    height: 24px;
    left: -9px;
    top: -2px;
  }

  .preferences-group input[type=checkbox]:checked+label::after {
    width: 12px;
    height: 12px;
    top: 4px;
    left: -2px;
  }

  .preferences-filter__button {
    max-width: 100%;
    width: 100%;
    padding: 17px;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    border-radius: 25px;
    margin-top: 62px;
    position: relative;
  }

  .preferences-filter__button::after {
    content: "";
    height: 1px;
    width: 100%;
    display: block;
    background-color: #f3c72b;
    position: absolute;
    top: -35px;
    left: 0;
}

}

@media (min-width: 1440px) {}
