.prices {
  padding-top: 45px;
  padding-bottom: 45px;
  border-radius: 0 0 30px 30px;
  background-color: #edeff6;
  color: #444444;
  position: relative;
  border-radius: 0 0 30px 30px;
}

.prices::before {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 95px;
  content: "";
  background-color: #192144;
  z-index: -1;

}

.prices .container {
  padding: 0 50px;
}

.prices__title {
  display: block;
  max-width: 101px;
  margin-bottom: 44px;
}

.prices__list {
  margin-bottom: 31px;
  position: relative;
}

.business-price {
  display: none;
}

@media (min-width: 768px) {
  .prices {
    padding-top: 65px;
    padding-bottom: 85px;
    border-radius: 0 0 60px 60px;
  }

  .prices__title {
    max-width: 100%;
    text-align: center;
    margin-bottom: 80px;
  }

  .prices__list {
    margin-bottom: 60px;
  }

  .prices__link {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 80px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }

  .prices__link::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 67px;
    background-color: #e2e5f2;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px 21px;
    left: -10px;
  }

}

@media (min-width: 1440px) {
  .prices {
    padding-top: 100px;
    padding-bottom: 190px;
  }

  .prices__title {
    margin-bottom: 140px;
  }

  .prices__list {
    max-width: 904px;
    margin: 0 auto;
    margin-left: 85px;
    margin-bottom: 58px;
  }

  .price-list::before {
    width: 444px;
    height: 300px;
    right: -150px;
    top: -50px;
  }

  .prices__list::after {
    background-image: url("../img/icons/rates@1x.png");
    width: 198px;
    height: 198px;
    top: 0;
    right: -263px;
  }

  .price-list__cost {
    padding-right: 0;
    max-width: 150px;
  }

  .prices__link {
    margin-left: 85px;
  }


}
