.prices {
  padding-top: 82px;
  padding-bottom: 38px;
  border-radius: 0 0 30px 30px;
  background-color: #edeff6;
  color: #444444;
  position: relative;
}

.prices__title {
  display: block;
  max-width: 101px;
  margin-bottom: 44px;
}

.prices__list {
  margin-bottom: 31px;
}
