.promo {
  background-color: #161C36;
  /* background-image: url("../img/backgrounds/globe-back-mobile@1x.jpg"); */
  background-image: linear-gradient(to bottom, transparent 50%, #161C36 50%, #161C36 70%, #192144 70%, #192144 100%), url("../img/backgrounds/globe-back-mobile@1x.jpg");
  background-position: top 5px center;
  position: relative;
  background-size: auto;
  background-repeat: no-repeat;
  padding-top: 17px;
  padding-bottom: 39px;
  border-radius: 0 0 30px 30px;

}

.promo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 280px;
  top: 393px;
  bottom: 0;
  background-color: #161c36;
  z-index: 0;
}

.promo__container {
  position: relative;
  z-index: 2;
}

.promo__container::before {
  content: "";
  display: block;
  background-image: url("../img/backgrounds/traveller-illustration-mobile@1x.png");
  width: 192px;
  height: 255px;
  top: 135px;
  right: 50px;
  background-repeat: no-repeat;
  z-index: -1;
  position: absolute;

}

.promo__title {
  max-width: 235px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 248px;
}

.promo__contact-list .contact-list__detail {
  font-size: 0;
  line-height: 0;
  margin: 0;
}

.promo__contacts-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  max-width: 270px;
  margin-bottom: 30px;
}

.promo__contact-list .icon-telephone::before {
  background-color: #ff8d30;
  width: 40px;
  height: 40px;
}

.promo__contact-list .icon-email::before {
  background-color: #ffbd30;
  width: 40px;
  height: 40px;
}

.promo__contact-list {
  max-width: 80px;
  display: flex;
}

.promo__contact-list .contact-list__link {
  border: none;
}

.promo__contact-list .contact-list__item {
  max-width: 40px;
}

.contact-list__button {
  max-width: 189px;
    font-size: 17px;
    line-height: 30px;
    padding: 5px 32px 6px 30px;
    width: 100%;
}

.promo__quote__wrapper {
  background-color: #161C35;
  padding: 45px 70px;
  padding-bottom: 113px;
  margin-top: -48px;
  padding-left: 24px;
}

.promo__quote-content {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  max-width: 150px;
  margin-bottom: 15px;
}

.promo__quote-author {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  max-width: 153px;
  margin-bottom: 33px;
  font-style: normal;
}

.promo__steps__wrapper {
  margin-top: -72px;
}

@media (min-width: 768px) {
  .promo {
    background-color: #182044;
    background-image: url("../img/backgrounds/globe-back-tablet@1x.jpg");
    background-position: left -356px top 263px;
    padding-top: 38px;
    padding-bottom: 90px;
  }

  .promo__title {
    min-width: 400px;
    margin-bottom: 89px;
  }

  .promo__contacts-wrapper {
    display: none;
  }

  .promo__quote__wrapper {
    background-color: transparent;
    max-width: 300px;
    padding: 0;
    margin-top: 0;
    margin-left: 33px;
    margin-bottom: 282px;
  }

  .promo__quote-content {
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
    margin-bottom: 45px;
    max-width: 100%;
  }

  .promo__quote-author {
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
    max-width: 100%;
  }

  .promo__container::before {
    background-image: url("../img/backgrounds/traveller-illustration-tablet@1x.png");
    width: 372px;
    height: 451px;
    top: 250px;
    right: 112px;
  }

  .promo::before {
    display: none;
  }

}

@media (min-width: 1440px) {
  .promo {
    background-color: #161c34;
    padding-top: 80px;
    padding-bottom: 122px;
    background-image: url("../img/backgrounds/globe-back-desktop@1x.jpg");
    background-position: bottom center;
    background-size: inherit;
    border-radius: 0 0 60px 60px;

  }

  .promo__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .promo__container::before {
    content: "";
    background-image: url("../img/backgrounds/traveller-illustration-desktop@1x.png");
    width: 431px;
    height: 640px;
    top: -93px;
    right: 405px;
  }

  .promo__info-wrapper {
    max-width: 45%;
    margin: 0;
    padding-left: 70px;
  }

  .promo__title {
    text-align: left;
    margin-bottom: 10px;
  }

  .promo__quote__wrapper {
    max-width: 45%;
    margin: 0;
    padding-left: 305px;
    padding-top: 15px;
  }

  .promo__steps__wrapper {
    max-width: 100%;
    margin: 0;
    margin-top: 100px;
  }

}
