.promo {
  position: relative;

  padding-top: 17px;
  padding-bottom: 39px;

  border-radius: 0 0 30px 30px;
  background-color: #161c36;
  /* background-image: url("../img/backgrounds/globe-back-mobile@1x.jpg"); */
  background-image: linear-gradient(to bottom, transparent 50%, #161c36 50%, #161c36 70%, #192144 70%, #192144 100%), url("../img/backgrounds/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top 5px center;
  background-size: auto;
}

.promo::before {
  position: absolute;
  z-index: 0;
  top: 393px;
  bottom: 0;

  width: 100%;
  height: 280px;

  content: "";

  background-color: #161c36;
}

.promo__container {
  position: relative;
  z-index: 2;
}

.promo__container::before {
  position: absolute;
  z-index: -1;
  top: 135px;
  right: 50px;

  display: block;

  width: 192px;
  height: 255px;

  content: "";

  background-image: url("../img/backgrounds/traveller-illustration-mobile@1x.png");
  background-repeat: no-repeat;
}

.promo__title {
  max-width: 235px;
  margin: 0 auto;
  margin-bottom: 248px;

  text-align: center;
}

.promo__contact-list .contact-list__detail {
  font-size: 0;
  line-height: 0;

  margin: 0;
}

.promo__contacts-wrapper {
  display: flex;

  max-width: 270px;
  margin-bottom: 30px;

  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.promo__contact-list .icon-telephone::before {
  width: 40px;
  height: 40px;

  background-color: #ff8d30;
}

.promo__contact-list .icon-email::before {
  width: 40px;
  height: 40px;

  background-color: #ffbd30;
}

.promo__contact-list {
  display: flex;

  max-width: 80px;
}

.promo__contact-list .contact-list__link {
  border: none;
}

.promo__contact-list .contact-list__item {
  max-width: 40px;
}

.promo__contacts__button {
  font-size: 17px;
  line-height: 30px;

  width: 100%;
  max-width: 189px;
  padding: 5px 32px 6px 30px;
}

.promo__quote__wrapper {
  margin-top: -48px;
  padding: 45px 70px;
  padding-bottom: 113px;
  padding-left: 24px;

  background-color: #161c35;
}

.promo__quote-content {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;

  max-width: 150px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  color: #ffffff;
}

.promo__quote-author {
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 22px;

  max-width: 153px;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;

  color: #ffffff;
}

.promo__steps__wrapper {
  margin-top: -72px;
}

@media (min-width: 768px) {
  .promo {
    padding-top: 38px;
    padding-bottom: 90px;

    background-color: #182044;
    background-image: url("../img/backgrounds/globe-back-tablet@1x.jpg");
    background-position: left -356px top 263px;
  }

  .promo__title {
    min-width: 400px;
    margin-bottom: 89px;
  }

  .promo__contacts-wrapper {
    display: none;
  }

  .promo__quote__wrapper {
    max-width: 300px;
    margin-top: 0;
    margin-bottom: 282px;
    margin-left: 33px;
    padding: 0;

    background-color: transparent;
  }

  .promo__quote-content {
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;

    max-width: 100%;
    margin-bottom: 45px;
  }

  .promo__quote-author {
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;

    max-width: 100%;
    margin: 0;
  }

  .promo__container::before {
    top: 250px;
    right: 112px;

    width: 372px;
    height: 451px;

    background-image: url("../img/backgrounds/traveller-illustration-tablet@1x.png");
  }

  .promo::before {
    display: none;
  }
}

@media (min-width: 1440px) {
  .promo {
    padding-top: 80px;
    padding-bottom: 122px;

    border-radius: 0 0 60px 60px;
    background-color: #161c34;
    background-image: url("../img/backgrounds/globe-back-desktop@1x.jpg");
    background-position: bottom center;
    background-size: inherit;
  }

  .promo__container {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
  }

  .promo__container::before {
    top: -93px;
    right: 405px;

    width: 431px;
    height: 640px;

    content: "";

    background-image: url("../img/backgrounds/traveller-illustration-desktop@1x.png");
  }

  .promo__info-wrapper {
    max-width: 45%;
    margin: 0;
    padding-left: 70px;
  }

  .promo__title {
    margin-bottom: 10px;

    text-align: left;
  }

  .promo__quote__wrapper {
    max-width: 45%;
    margin: 0;
    padding-top: 15px;
    padding-left: 305px;
  }

  .promo__steps__wrapper {
    max-width: 100%;
    margin: 0;
    margin-top: 100px;
  }
}
