.travelers {
  padding-top: 70px;
  padding-bottom: 30px;
  border-radius: 0 0 30px 30px;
  background-color: #192144;
  color: #ffffff;
}

.travelers__container {
  position: relative;
}

.travelers__container::before {
  content: "";
  width: 132px;
  height: 132px;
  border-radius: 20px;
  background-color: #141b3b;
  position: absolute;
  top: -20px;
  left: -40px;
  z-index: -1;
}

.travelers__container::after {
  content: "";
  background-image: url("../img/backgrounds/smolov-back-desktop@1x.png");
  width: 143px;
  height: 143px;
  position: absolute;
  top: -20px;
  right: 40px;
  z-index: -1;
}

.travelers__header {
  max-width: 270px;
  padding: 0 25px;
}

.travelers__title {
  margin: 0 auto;
  margin-bottom: 20px;
}

.travelers__description {
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.travelers .text--attention {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 60px;
}

.travelers-list__details-wrapper {
  border-radius: 0 0 10px 10px;
  background-color: #ffffff;
  padding: 27px 46px 22px;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -10px;
}

.travelers__list {
  margin-bottom: 20px;
  position: relative;
}

.travelers__list::before {
  content: "";
  background-image: url("../img/backgrounds/rogovaya-back-mobile@1x.png");
  width: 71px;
  height: 71px;
  position: absolute;
  top: -35px;
  left: -35px;
  z-index: -1;
}

.travelers-list__item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  max-width: 270px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.travelers-list__link {
  color: #1d2e5b;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  max-width: 140px;
}

.travelers-list__hashtag {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  max-width: 180px;
  text-align: center;
}

.travelers-list__transport {
  max-width: 122px;
  padding: 0;
  margin: 0 auto;
}

.travelers-list__flags {
  max-width: 145px;
  position: absolute;
  top: -10px;
}

.travelers-list__level {
  position: absolute;
  top: 16px;
  left: 17px;
}

.travelers__button {
  text-transform: none;
  padding: 24px;
  padding-right: 60px;
  max-width: 270px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .travelers {
    padding-top: 135px;
    padding-bottom: 88px;
    border-radius: 0 0 60px 60px;
  }

  .travelers__container::before {
    content: "";
    width: 213px;
    height: 213px;
    border-radius: 20px;
    background-color: #141b3b;
    position: absolute;
    top: -60px;
    left: 40px;
    z-index: -1;
  }

  .travelers__container::after {
    content: "";
    background-image: url("../img/backgrounds/rogovaya-back-desktop@1x.png");
    width: 285px;
    height: 285px;
    position: absolute;
    top: -55px;
    right: 70px;
    z-index: -1;
  }

  .travelers__container {
    padding: 0 75px;
  }

  .travelers__header {
    max-width: 450px;
    padding: 0;
  }

  .travelers__title {
    font-size: 45px;
    font-weight: 700;
    line-height: 45px;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .travelers__description {
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
    margin-left: 0;
    margin-bottom: 40px;
  }

  .travelers .text--attention {
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    margin-left: 0;
  }

  .travelers__list::before {
    background-image: url("../img/backgrounds/smolov-back-desktop@1x.png");
    width: 143px;
    height: 143px;
    top: -96px;
    left: 0;
  }

  .travelers__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 80px;
    justify-content: space-between;
  }

  .travelers-list__item {
    margin: 0;
    max-width: 285px;
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
  }

  .travelers-list__item:last-child {
    margin-right: 0;
  }

  .travelers__button {
    max-width: 618px;
  }

  .travelers-list__photo {
    width: 100%;
    height: auto;
    display: block;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  }

  .travelers-list__details-wrapper {
    padding: 28px 20px 30px;
    margin-top: 0;
  }

  .travelers-list__link {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    max-width: 170px;
    margin-bottom: 20px;
  }

  .travelers-list__hashtag {
    max-width: 100%;
    margin-bottom: 25px;
  }

  .travelers__button {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    padding: 27px 63px 30px 34px;
  }

  .travelers__button::after {
    content: "";
    position: absolute;
    right: 25px;
  }

}

@media (min-width: 1440px) {
  .travelers {
    padding: 125px 0 115px;
  }

  .travelers__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: end;
    padding: 0 60px;
  }

  .travelers__header {
    max-width: 430px;
    margin-bottom: 85px;
    padding: 0;
    padding-left: 5px;
  }

  .travelers__title {
    margin-bottom: 56px;
  }

  .travelers__description {
    margin-bottom: 40px;
  }

  .travelers .text--attention {
    margin-bottom: 0;
  }

  .travelers__list {
    max-width: 630px;
    width: 100%;
    margin-bottom: 0;
    margin-left: 195px;
    margin-top: 8px;
  }

  .travelers-list__item {
    margin-right: 60px;
    margin-bottom: 20px;
    max-width: 285px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
    overflow: hidden;
    border-radius: 20px;
  }

  .travelers-list__photo {
    width: 100%;
    height: auto;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    z-index: 2;
    position: relative;
  }

  .travelers-list__item:last-child {
    margin-right: 0;
  }

  .travelers-list__link {
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 20px;
    max-width: 150px;
  }

  .travelers-list__details-wrapper {
    padding: 30px 20px 27px;
  }

  .travelers-list__hashtag {
    max-width: 100%;
  }

  .travelers__button {
    margin-left: 0;
    max-width: 280px;
    margin-top: -103px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    padding: 29px 94px 31px 34px;
  }

  .travelers-list__level {
    top: 25px;
    left: 25px;
    z-index: 5;
  }

  .travelers-list__flags {
    z-index: 4;
    top: -5px;
  }

  .travelers__container::before {
    top: -65px;
    left: -65px;
  }

}
