.travelers-result {
  padding: 28px 0 76px;
}

.travelers-result__list {
  margin-bottom: 18px;
}

.travelers-result__item {
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .travelers-result__item {
    margin-bottom: 40px;
}


}
