.body {
  font-family: $font-family_base;
  font-size: $font__size_base;
  font-weight: $font-weight_base;
  line-height: $font__size-ratio;

  color: $color__text;
  background-color: $color__background-body;
}

/* центровщик согласно макета с шириной 320 = 270 контент и по 25 px отступы по бокам */
.container {
  z-index: 110;

  max-width: 320px;
  margin: 0 auto;
  padding: 0 25px;
}

/* выборочный сброс типового оформления у списков */
.list {
  margin: 0;
  padding: 0;

  list-style: none;
}

/* фоновый цвет у внутренних страниц  */
.main--catalog {
  background-color: #edeff6;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 60px;
  }
}
