.alphabet-table__cell {
  padding: 13px 15px;

  border: 1px solid #cbced9;
}

.alphabet-table__link {
  font-family: $font-family_base;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;

  display: flex;

  max-width: 100%;

  text-align: center;
  text-transform: uppercase;

  color: #1d2e5b;

  align-items: center;
  justify-content: center;
}

.alphabet-table__cell--active {
  border: 1px solid #1d2e5b;
  background-color: #1d2e5b;
}

.alphabet-table__cell--active .alphabet-table__link {
  color: #fff;
}
