.contact-list__link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 16px;
  line-height: 1.38;
  font-weight: 700;
  color: #192144;
  text-transform: uppercase;
  position: relative;
}

.contact-list__link::before {
  content: "";
  width: 45px;
  height: 45px;
  background-color: #121936;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.contact-list__detail {
  margin-left: 16px;
  color: #192144;
  font-weight: 700;
}

@media (min-width: 768px) {
  .contact-list__link::before {
    width: 68px;
    height: 68px;
    background-size: 27px 27px;
  }

}


@media (min-width: 1440px) {
  .contact-list__item {
    max-width: 50px;
    display: inline-block;
  }

  .contact-list__detail,
  .contact-list__link {
    font-size: 0;
    line-height: 0;
    margin-left: 0;
  }

  .contact-list__link::before {
    background-color: #ffbd30;
  }

  .contact-list__link::before {
    width: 50px;
    height: 50px;
    background-size: 18px 18px;
    padding: 25px;
  }

}
