.country-filter {
  max-width: 100%;
}

.country-filter__alphabet {
  width: 100%;
  border: 1px solid #cbced9;
  background-color: #ffffff;
  border-collapse: collapse;
  margin-bottom: 11px;
  margin-left: -1px;
}

.country-filter__letter {
  display: none;
}

.country-filter__letter--active {
  display: block;
}

.country-filter__sub-list {
  display: none;
}

.country-filter__item--active .country-filter__sub-list {
  display: block;
}

.countries-list__link {
  color: #444444;
  font-family: $font-family_base;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 10px;
}

.country-filter__list {
  margin-bottom: 24px;
}
