.title {
  margin: 0;
  padding: 0;
  color: #ff8d30;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.title--big {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-family: inherit;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

@media (min-width: 768px) {
  .title {
    font-size: 45px;
    line-height: 45px;
  }

  .title--big {
    font-size: 60px;
    line-height: 70px;
  }

}
