.travelers-result__item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}

.traveler-card__link-photo {
  display: block;
  width: 100%;
  max-width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
}

.traveler-card__link-name {
  width: 100%;
  margin-left: 14px;
  max-width: 145px;
  padding-right: 60px;
}

.traveler-card__name {
  margin: 0;
  color: #1d2e5b;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  position: relative;
  max-width: 100%;
}

.traveler-card__distance {
  max-width: 50px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #161c36;
  text-transform: uppercase;
  margin: 0 auto;
  margin-left: 85px;
  margin-top: -25px;
}

.traveler-card__button-like {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  flex-shrink: 0;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: #edeff6;
  font-size: 0;
  border: 0;
  max-width: 31px;
  border-radius: 16px;
  position: absolute;
  top: 56px;
  left: 66px;
}

.traveler-card__button-like::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 11px;
  top: 10px;
  left: 9px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../img/icons/heart.svg");
  opacity: 0.3;
}

.traveler-card__button-like--active {
  background-color: #f9eaea;

}

.traveler-card__button-like--active::before {
  background-image: url("../img/icons/heart-active.svg");
  opacity: 1;
}

.traveler-card__hashtag {
  margin: 0;
  margin-bottom: 15px;
  margin-top: 11px;
}

.traveler-card__hashtag .hashtag-list__input {
  margin: 0;
}

.traveler-card__label-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 17px;
}

.traveler-card__label {
  margin: 0;
  color: #444444;
  max-width: 100%;
  font-family: $font-family_base;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  max-width: 120px;
  background-color: #ffffff;
  display: block;
  z-index: 2;
  padding-right: 10px;
  padding-left: 5px;
}

.traveler-card__label-wrapper::before,
.traveler-card__label-wrapper::after {
  content: "";
  height: 1px;
  background: #edeff6;
  flex-grow: 1;
  flex-shrink: 0;
  position: absolute;
}

.traveler-card__label-wrapper::before {
  margin-right: 25px;
  width: 20px;
  left: -20px;
}

.traveler-card__label-wrapper::after {
  width: 150px;
  right: -155px;
}

.traveler-card__wishlist {
  margin-bottom: 14px;
}

.traveler-card__content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 15px;
  max-width: 100%;
  width: 100%;
}

.traveler-card__content-wrapper::before {
  content: "";
  height: 1px;
  background: #edeff6;
  flex-grow: 1;
  flex-shrink: 0;
  position: absolute;
  top: 10px;
  left: -20px;
  right: -75px;
  z-index: 0;
}

.traveler-card__transport-wrapper {
  max-width: 129px;
  z-index: 2;
}

.traveler-card__transport-wrapper .traveler-card__label {
  margin-bottom: 16px;
  display: inline-block;
}

.traveler-card__level-wrapper {
  max-width: 57px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 2;
}

.traveler-card__level-wrapper .traveler-card__label {
  margin-bottom: 7px;
  padding: 0 11px;
  padding-right: 0;
  background-color: #ffffff;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
}

.traveler-card__content-wrapper .traveler-card__label {
  max-width: 100%;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  background-color: #ffffff;
}

.traveler-card__level-wrapper .personal-level__figure {
  width: 45px;
  height: 45px;
}

.traveler-card__level-wrapper .personal-level {
  max-width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.traveler-card__level-wrapper .personal-level__details {
  top: 13px;
  left: 10px;
}

.traveler-card__level-wrapper .personal-level__number {
  border-bottom: none;
  color: #1d2e5b;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;
}

.traveler-card__level-wrapper .personal-level__background {
  fill: none;
  stroke: none;
}

.traveler-card__level-wrapper .personal-level__progress {
  stroke-dasharray: 162.56;
}

.traveler-card__transport-wrapper .transport-list__item {
  display: flex;
  margin: 0;
  font-size: 0;
  width: 33px;
  height: 32px;
  border-radius: 50%;
  background-color: #edeff6;
  position: relative;
  align-items: center;
  justify-content: center;
}

.traveler-card__transport-wrapper .transport-list__icon {
  max-width: 50%;
}

.traveler-card__transport-wrapper .transport-list__icon--active {
  opacity: 1;
}

.traveler-card__button {
  width: 100%;
}
