.wishlist {}

.wishlist__item {
  margin: 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.wishlist__flag {
  left: 5px;
  position: relative;
}

.wishlist__name {
  max-width: 150px;
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 18px;
}

@media (min-width: 768px) {
  .wishlist__item {
    margin-right: 28px;
    max-width: 205px;
  }

  .wishlist__item:last-child {
    margin-right: 0;
  }

  .wishlist__name {
    font-size: 20px;
    line-height: 30px;
    margin-left: 11px;
  }

  .wishlist__flag {
    width: 35px;
    height: 24px;
    left: 0;
  }

}
