.wishlist__item {
  position: relative;

  display: flex;

  margin-bottom: 5px;

  align-items: center;
}

.wishlist__item:nth-child(n) {
  z-index: 10;
}

.wishlist__image-wrapper:nth-child(3n) {
  z-index: 1;
}

.wishlist__image-wrapper:last-child {
  margin-bottom: 0;
}

.wishlist__image-wrapper {
  font-size: 0;

  position: relative;
  z-index: 20;

  width: 26px;
  height: 18px;
  margin-right: 15px;
  margin-bottom: 5px;

  border-radius: 6.4px;
  background-color: transparent;
}

.wishlist__image {
  position: relative;
  z-index: -1;

  display: block;

  width: 100%;
  height: auto;
}

.wishlist__image-name {
  font-family: $font-family_base;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;

  margin: 0;

  text-transform: uppercase;

  color: $brand-1;
}

@media (min-width: 768px) {
  .wishlist__item {
    margin-right: 30px;
    margin-bottom: 0;
  }

  .wishlist__item:last-child {
    margin-right: 0;
  }

  .wishlist__image-wrapper {
    width: 35px;
    height: 24px;
    margin-right: 10px;
    margin-bottom: 0;

    border-radius: 0;
  }

  .wishlist__image-name {
    font-size: 20px;

    margin-top: 3px;
  }
}

@media (min-width: 1440px) {
  .wishlist__item {
    margin-right: 0;
    margin-bottom: 13px;
  }

  .wishlist__image-wrapper {
    margin-right: 20px;
  }

  .wishlist__image-name {
    margin-top: 0;
  }
}
