/* stylelint-disable */
/* Backgrounds  */
$color__background-body: #edeff6;
$color__background-button: #ffd74b;
$color__background-section: #141b3b;
/* Text */
$color__text: #444444;
$color__text--white: #ffffff;
$color-button__text: #161c35;
/* стрелка на кнопках  */
$color-arrow__icon: #1d2e5b;
/* Links */
$color__link: #0073aa;
/* Borders */
$color__border: #ccc;
